@import "../../lib/styles.scss";

.ProductiveTime {
   
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .column {
      width: 40%;
      img {
        width: 80%;
        margin-top: -1.5rem;
        height: auto;
        opacity: 100% !important;
        margin-top: 1rem;
    }
    
    }
  }

  .text {
    margin: 2rem 0;
    .body {
      padding: 1.5rem 0;
      // display: none;
    }
    span {
      margin: 1rem 0;
      cursor: pointer;
    }
    // &:hover {
    //   .body {

    //     display: block;
    //   }
    // }
  }
}
