@import "../../lib/styles.scss";

.WorkingWell {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .column {
      width: 30%;
      margin-top: 2rem;
      flex-direction: column;
      position: relative;
      &.big {
        width: 70%;
      }
      .title {
        margin: 2rem 0;

        span {
          margin: 1rem 0;
          cursor: pointer;
        }

        .body {
          padding: 1.5rem 0;
          display: block;
        }
      }
      .body {
        // display: none;
        // margin-top: 1rem;
      }
    }
  }

  .quotes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .item {
      width: 30%;
      margin-top: 2rem;
      .quote {
        //   font-family: 'Rubik', sans-serif;
          font-weight: bold;
          font-size: 1.2rem;
          margin-bottom: .5rem;
      }
    }
  }
}
