@import "../../lib/styles.scss";

.BiggestConcerns {
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .column {
      width: 33%;
      margin-top: 2rem;
      flex-direction: column;
      position: relative;
      &.big {
        width: 65%;
      }
      .title {
        margin: 2rem 0;

        span {
          margin: 1rem 0;
          cursor: pointer;
        }

        .body {
          padding: 1.5rem 0;
          display: block;
        }
      }
      .body {
        // display: none;
        // margin-top: 1rem;
      }
    }
  }
}
