@import "../../lib/styles.scss";

.HowWeFeel {
    
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    .text {
      width: 90%;
      margin: auto;
      // padding-right: 2rem;
      // background: pink;
    }
    .chart {
      width: 90%;
      margin: auto;
      // background: lightgray;
    }
    .controls {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    padding-bottom: 5rem;
  }
  .learning1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5rem;
    .column {
      width: 47%;
      flex-direction: column;
      position: relative;
      .title {
        font-weight: bold;
        // margin: 0;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
      }
      .body {
        margin: 0;
      }
    }
  }

  .learning2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .column {
      width: 30%;
      flex-direction: column;
      position: relative;
      .header {
        font-size: 3rem;
        font-weight: bold;
      }
      .highlighted {
        font-weight: bold;
        margin: 2rem 0;
        margin-bottom: 0.5rem;
      }
      .title {
        margin: 2rem 0;
        transition: all 2s ease-in;
        .body {
          display: none;
          // opacity: 0%;
        }
        span {
          margin: 1rem 0;
          cursor: pointer;
        }
        &:hover {
          .body {
            display: block;
            // opacity: 100%;
          }
        }
      }
      .body {
        // display: none;
        margin-top: 1rem;
      }
    }
  }
}
