@import '../../lib/styles.scss';

.SignInView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 20%;
    img {
        width: 60px;
        height: auto;
        margin: auto;
        margin-bottom: 2rem;
    }
    form {
        // background: $UI_GREEN;
        color: black;
        margin: auto;
        max-width: 20rem;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        align-content: center;
        label {
            margin-bottom: 1rem;
        }
        .content {
            flex-direction: row;
            width: 100%;
            .btn-primary {
                width: 30%;
            }
    
            .pw {
                width: 60%;
                background: rgb(235, 235, 235);
            }
        }
        

    }
}